@tailwind base;
@tailwind components;
@tailwind utilities;

#backBtn {
  background-color: white;
  /* colour of button background */
  border: 1px solid #000000;
  /* border = blue outline of button */
  border-radius: 50px;
  /* border radius = rounded edges */
  font-size: 15px;
  transition: background-color 0.3 ease;
  margin: 400px;
  padding: 10px 10px;
}

@media only screen and (max-width: 480pxx) {
  button {
    width: 80%;
  }
}

img {
  width: 100%;
  height: auto;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin: auto;
  padding: 6px;
}

p {
  font-size: 1.252rem;
  color: #003f8b;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  text-align: center;
}

h1 {
  background-color: aliceblue;
}

.pokemon-container {
  width: auto;
  height: auto;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  background-image: url(/images/CatchPokemonBackground.png);
}

.sprite-and-text {
  width: auto;
  width: auto;
  height: auto;
  max-width: 300px;
  margin: auto;
  padding: 10px;
}

.pokemonSprites {
  filter: brightness(0%);
}

body {
  background-size: cover;
  background-position: center;
  background-color: #fbcb2a;
  border: 5px solid #070707;
}

.poke-map {
  position: relative;
  width: 95vw;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  margin: 40px auto;
  background-image: url('/images/PokeMap.png');
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  /* overflow: hidden; */
}
.caughtSprite {
  width: auto;
  height: auto;
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

.uncaughtSprite {
  width: auto;
  height: auto;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  filter: brightness(50%);
}

.uncaughtSpriteBackground {
  background: url(/images/Fled.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
